body {
    background: #d4d3d3;;
    font-family:arial;
}

h2,h3, p,li {
 color: rgb(3, 3, 3); 
}

a {
    color: green;
}
p{
    color: rgb(109, 87, 231);
    padding: 5px 0px;
}
.secondary {
    background: none;
    color: #777;
}
