body {
    background: #d4d3d3;;
    font-family:arial;
}

/*media queries */
@media only screen and (max-width: 540px) {
    img{display: none;}
}
@media only screen and (min-width:720px) {
    body {
        background-color: lightgreen;
    }
    a {
        color: rgb(88, 87, 87);
      }
}
@media only screen and (min-width:960px) {
    body {
        background-color: rgb(97, 215, 231);
    }
    a {
        color: green;
      }
}
@media only screen and (min-width:1140px) {
    body {
        background-color: rgb(130, 90, 241);
        }
        a {
            color: rgb(88,87,87);
          }
}
.col-6.h3 {
    background-color: oldlace;
}
h2,h3, p,li {
 color: rgb(3, 3, 3); 
}

p{
    color: rgb(109, 87, 231);
    padding: 5px 0px;
}
.secondary {
    background: none;
    color: #777;
}
